name: Check

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  markdown:
    name: Lining Markdown files
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'

      - name: Install mdl
        run: gem install mdl

      - name: Linting markdowns
        run: mdl --style=.mdlrc.rb ./content

      - name: Check markdowns links
        run: gaurav-nelson/github-action-markdown-link-check@v1

  html-proofer:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.121.2

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # fetch all history for .GitInfo and .Lastmod
          submodules: recursive

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4

      - name: Setup Hugo
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Build with Hugo
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
            hugo \
            --gc --minify \
            --baseURL "https://docs.pactus.com/"

      - name: Check HTML
        uses: chabad360/htmlproofer@master
        with:
          directory: "./public"
